snippet tyi "Interface definition"
type $1 interface {
	$0
}
endsnippet

snippet tys "Struct definition"
type $1 struct {
	$0
}
endsnippet

snippet meth "Method definition"
func ($1) $2($3) $4 {
	$0
}
endsnippet

snippet func "Function definition"
func $2($3) $4 {
	$0
}
endsnippet
