snippet func "function definition" b
${1:name}() {
	$0
}
endsnippet

snippet if "if..." b
if [ $1 ]; then
	$0
fi
endsnippet

snippet for "for in..." b
for ${1:e} in ${2:\$ARRAY}; do
	$0
done
endsnippet
